[run]
source =
    module_6/src/web/app
    module_6/src/web/publisher.py
    module_6/src/worker
    module_6/src/db
    module_6/src/common/gradcafe_common

data_file = module_6/.coverage

[report]
fail_under = 100
