[MASTER]
ignored-modules=psycopg2,psycopg2.extras,selenium,selenium.webdriver,selenium.webdriver.chrome.options,selenium.webdriver.common.by,selenium.webdriver.support,selenium.webdriver.support.ui,pika

[FORMAT]
max-line-length=100

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes