<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="nav-right">
        <a href="{{ url_for('pages.about') }}"
           class="{% if request.path == '/' %}active{% endif %}">
            About
        </a>
        <a href="{{ url_for('pages.projects') }}"
           class="{% if request.path == '/projects' %}active{% endif %}">
            Projects
        </a>
        <a href="{{ url_for('pages.contact') }}"
           class="{% if request.path == '/contact' %}active{% endif %}">
            Contact Info
        </a>
    </div>
</nav>

<div class="page-content">
    {% block content %}{% endblock content %}
</div>
</body>
</html>